::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

@font-face {
  font-family: "Title";
  src: url("Barlow-Bold.ttf");
}

@font-face {
  font-family: "Logo";
  src: url("tincush-0987.otf");
}

hr {
  margin: 4px;
}

body {
  font-family: "Logo";
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
}

#Topbar {
  background-color: #7b1b20;
  vertical-align: middle;
  color: #eedfdf;
  text-shadow: none;
  padding: 2px 0;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding: 4px;
  margin: 0;
}

#rightButtons,
#hamburger {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap !important;
  margin-right: 20px;
}

#rightButtons {
  font-size: 40px;
}

#hamburger {
  display: none;
}

#mainButton > .Internal {
  width: 250px;
  display: flex;
  flex-wrap: nowrap !important;
  font-size: 22px;
}

.dropdown {
  background-color: #7b1b20;
  display: none;
  position: absolute;
  padding: 16px;
}

#Topbar > .Internal {
  display: flex;
  flex-wrap: nowrap !important;
}

#Topbar .button > .Internal {
  margin: 16px;
}

#Topbar .button .button {
  font-size: 24px;
}

#Topbar img {
  object-fit: cover;
  margin: 4px;
  height: 36px;
}

#MainContainer img {
  object-fit: cover;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 500px) {
  #hamburger {
    display: block;
  }

  #rightButtons {
    display: none;
  }
}
