::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

@font-face {
  font-family: "Main";
  src: url("FrankRuhlLibre.ttf");
}

@font-face {
  font-family: "Logo";
  src: url("tincush-0987.otf");
}

@font-face {
  font-family: "Plain";
  src: url("Barlow-Medium.ttf");
}

.galleryImage {
  height: 100% !important;
  width: 100% !important;
}

hr {
  margin: 4px;
}

.banner {
  background-image: "wejscie.png";
  background-size: auto;
}

.box {
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Main";
  margin-top: 10vh;
}

.gallery {
  background-color: #4d1013;
  display: flex;
  align-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  margin-bottom: 10px;
  border-radius: 7px;
}

.gallery .buttonRight {
  margin-left: auto;
  width: 6vh !important;
  cursor: pointer;
  height: 60vh !important;
  position:relative;
}

.gallery .buttonLeft {
  margin-right: auto;
  width: 6vh !important;
  cursor: pointer;
  display: none;
  height: 60vh !important;
  position:relative;
}

body {
  font-family: "Plain";
  padding: 0;
  margin: 0;
  color: #7b1b20;
  font-size: 2.5vh;
  text-align: center;
}

body img {
  width: 100%;
}

#MainContainer div {
  text-align: left;
}

#MainContainer {
  margin: auto;
  margin-bottom: 100px;
  width: 65%;
}

div.button:hover {
  color: red;
}

a.bareLink:link {
  text-decoration: none;
}

a.bareLink:visited {
  text-decoration: none;
}

a.bareLink:hover {
  text-decoration: none;
}

a.bareLink:active {
  text-decoration: none;
}

a:link {
  color: inherit;
  vertical-align: middle;
}

a:visited {
  color: inherit;
  vertical-align: middle;
}

a:hover {
  color: inherit;
  vertical-align: middle;
}

a:active {
  color: inherit;
  vertical-align: middle;
}

#Topbar div.button:hover {
  color: white;
}

#MainContainer div.button {
  border-radius: 5px;
  background-color: #7b1b20;
  color: #eedfdf;
  margin-top: 10px;
  width: 160px;
  text-decoration: none;
}

#MainContainer div.button > .Internal {
  display: flex;
  align-items: center;
}

img.ikona {
  height: 22px !important;
  width: auto;
  margin: 10px;
}

a {
  display: flex;
  align-items: center;
}

#MainContainer div.button:hover {
  color: white;
}

.button {
  cursor: pointer !important;
}

#Topbar {
  text-align: left;
  font-family: "Logo";
  background-color: #7b1b20;
  vertical-align: middle;
  color: #eedfdf;
  text-shadow: none;
  padding: 2px 0;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 4px;
  margin: 0;
}

#rightButtons,
#hamburger {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap !important;
  margin-right: 20px;
}

#rightButtons {
  font-size: 40px;
}

#hamburger {
  display: none;
}

#mainButton > .Internal {
  align-items: center;
  width: 250px;
  display: flex;
  flex-wrap: nowrap !important;
  font-size: 22px;
}

#Topbar > .Internal {
  display: flex;
  flex-wrap: nowrap !important;
}

#Topbar .button > .Internal {
  margin: 16px;
}

#Topbar .button .button {
  font-size: 24px;
}

#Topbar img {
  object-fit: cover;
  margin-right: 10px;
  height: 36px;
  width: auto;
}

#MainContainer img {
  height: 350px;
  object-fit: contain;
}

#MainContainer > div {
  text-align: center;
}


.FoodmenuImg {
  width: 100%;
  height: auto !important;
}

.WinemenuImg {
  width: 50%;
  height: auto !important;
}

#credits {
  background-color: #ffffdb;
  text-align: left;
  padding: 50px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
  #MainContainer {
    width: 90%;
  }

  #MainContainer img {
    height: 250px;
  }
  .gallery {
    height: auto;
  }

  .WinemenuImg {
    width: 80%;
  }
}

@media (max-width: 600px) {
  #hamburger {
    display: block;
  }

  #rightButtons {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #7b1b20;
    right: 0;
    margin: 0;
    top: 86px;
  }

  .box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .box img {
    order: -1;
  }

  .WinemenuImg {
    width: 100%;
  }
}
